@model Proyecto_Final_LabIV.Models.Tarea

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrioridadId" class="control-label"></label>
                <select asp-for="PrioridadId" class="form-control" asp-items="ViewBag.PrioridadId"></select>
                <span asp-validation-for="PrioridadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalleTareaId" class="control-label"></label>
                <select asp-for="DetalleTareaId" class="form-control" asp-items="ViewBag.DetalleTareaId"></select>
                <span asp-validation-for="DetalleTareaId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
